<!DOCTYPE html>
<html lang="en">
<head>
  <title>Academic Influence</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">  
  <form id="contact" method="post">
    <div style="text-align:center"><h2>Academic Influence Analyzer - Login</h2></div>
    <div style="text-align:center; color:red"> {{ passStatus }}</div>
    <fieldset>
      <input placeholder="Username" name="username" type="text" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Password" name="password" type="password" required>
    </fieldset>
    </fieldset>
      <button name="submit" type="submit" id="login-submit" data-submit="...logging in">Submit</button>
    </fieldset>
  </form>
</div>

</body>
</html>

